:root {
    --dimmer-color: rgb(10 10 10 / 50%);
}

body {
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-rows: 0.5fr 8fr 0.5fr;
    background-image: url("./assets/library.jpg");
    background-position: center;
}

body>* {
    padding: 8px;
}

ul {
    list-style: none;
}

.header {
    background-color: var(--dimmer-color); 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: min(50%, 75px);
}

.library {
    background-color: var(--dimmer-color); 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(2, minmax(300px, 1fr));
    gap: 8px;
}

.card {
    border-radius: 20px;
    background-color: wheat;
    padding: 20px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.title {
    margin: 6px;
    grid-area: title;
    font-size: 1rem;
    margin-bottom: auto;
}

.details {
    display: flex;
}

.icons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.icons svg {
    width: 50px;
    cursor: pointer;
}

.not-read path,
.delete path {
    fill: red;
}

.read path {
    fill: green;
}

.card p {
    margin: 4px;
}

.footer {
    background-color: var(--dimmer-color); 
}

::backdrop {
    background-color: black;
    opacity: 0.80;
}

form div {
    display: flex;
    margin: 0.5em 2em;
}

input {
    margin-left: auto;
}

form div button {
    margin: 0px auto;
}

.invisible {
    visibility: hidden;
    display: none;
}
